.mat-sidenav-panel {
  width: 500px;
  -webkit-box-shadow: 2px 0px 8px -1px rgba(148,148,148,1);
  -moz-box-shadow: 2px 0px 8px -1px rgba(148,148,148,1);
  box-shadow: 2px 0px 8px -1px rgba(148,148,148,1);
}

.navigator-panel {
  -webkit-box-shadow: 2px 0px 8px -1px rgba(148,148,148,1);
  -moz-box-shadow: 2px 0px 8px -1px rgba(148,148,148,1);
  box-shadow: 2px 0px 8px -1px rgba(148,148,148,1);
}

.linkedin-logo {
  width: 38px !important;
  padding-left: 3%;
}
