
<div (window:resize)="switchToMobileView($event)">

  <div *ngIf="isDesktopView; else mobileView">
    <mat-sidenav-container>
        <mat-sidenav mode="side" [opened]="true"  [fixedInViewport]="true" class="mat-sidenav-panel">
            <app-toolbar [mode]="'DESKTOP'"></app-toolbar>

        </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>

  <ng-template #mobileView>
      <div class="navigator-panel">
        <app-toolbar [mode]="'MOBILE'"></app-toolbar>
      </div>
    <router-outlet></router-outlet>
  </ng-template>
</div>
